USE [master]
GO
/****** Object:  Database [qlxe]    Script Date: 04/01/2024 12:36:33 CH ******/
CREATE DATABASE [qlxe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'qlxe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\qlxe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'qlxe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\qlxe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [qlxe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [qlxe]
GO
/****** Object:  Table [dbo].[baoduongxe]    Script Date: 04/01/2024 12:36:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[baoduongxe](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BienSX_ID] [nvarchar](15) NULL,
	[MaCTYBD_ID] [int] NULL,
	[NgayBD] [date] NULL,
	[NgayKT] [date] NULL,
	[MaGoiBD_ID] [int] NULL,
	[DemNgay] [int] NULL,
	[TrangThai_ID] [int] NULL,
 CONSTRAINT [PK_baoduongxe] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[baohiemxe]    Script Date: 04/01/2024 12:36:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[baohiemxe](
	[ID] [int] NOT NULL,
	[BienSo] [nvarchar](15) NOT NULL,
	[MaCTY] [int] NOT NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayKetThuc] [date] NOT NULL,
	[Gia] [float] NOT NULL,
	[TrangThai] [int] NULL,
	[DemNgay] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ctybaoduong]    Script Date: 04/01/2024 12:36:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ctybaoduong](
	[MaCTYBD] [int] IDENTITY(1,1) NOT NULL,
	[TenCTYBD] [nvarchar](max) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[SDT] [varchar](11) NULL,
	[Email] [varchar](30) NULL,
	[TrangThai_ID] [int] NULL,
 CONSTRAINT [PK_ctybaoduong] PRIMARY KEY CLUSTERED 
(
	[MaCTYBD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ctybaohiem]    Script Date: 04/01/2024 12:36:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ctybaohiem](
	[MaCTY] [int] NOT NULL,
	[TenCTY] [nvarchar](300) NOT NULL,
	[DiaChi] [nvarchar](300) NOT NULL,
	[SDT] [varchar](11) NOT NULL,
	[Email] [varchar](30) NOT NULL,
	[TrangThai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ctydangkiem]    Script Date: 04/01/2024 12:36:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ctydangkiem](
	[MaCTYDK] [int] NOT NULL,
	[TenCTY] [nvarchar](300) NOT NULL,
	[DiaChi] [nvarchar](300) NOT NULL,
	[SDT] [varchar](11) NOT NULL,
	[Email] [varchar](30) NOT NULL,
	[TrangThai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTYDK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dangkiemxe]    Script Date: 04/01/2024 12:36:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dangkiemxe](
	[ID] [int] NOT NULL,
	[BienSo] [nvarchar](15) NOT NULL,
	[MaCTYDK] [int] NOT NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayKetThuc] [date] NOT NULL,
	[Gia] [float] NOT NULL,
	[TrangThai] [int] NULL,
	[DemNgay] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[danhmuc]    Script Date: 04/01/2024 12:36:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[danhmuc](
	[ID] [int] NOT NULL,
	[MaLoai] [int] NOT NULL,
	[TenDM] [nvarchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[goibaoduong]    Script Date: 04/01/2024 12:36:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[goibaoduong](
	[MaGoiBD] [int] NOT NULL,
	[TenGoi] [nvarchar](max) NULL,
	[HangMuc] [nvarchar](max) NULL,
	[ChiPhi] [float] NULL,
	[SoKM] [varchar](50) NULL,
	[TrangThai_ID] [int] NULL,
 CONSTRAINT [PK_goibaoduong] PRIMARY KEY CLUSTERED 
(
	[MaGoiBD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[xe]    Script Date: 04/01/2024 12:36:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xe](
	[BienSo] [nvarchar](15) NOT NULL,
	[HangXe] [nvarchar](100) NOT NULL,
	[Doi] [nvarchar](150) NOT NULL,
	[NamSX] [int] NOT NULL,
	[SoChoNgoi] [int] NOT NULL,
	[KieuDang] [nvarchar](100) NOT NULL,
	[TrangThai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BienSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_xe_doi]    Script Date: 04/01/2024 12:36:34 CH ******/
CREATE NONCLUSTERED INDEX [idx_xe_doi] ON [dbo].[xe]
(
	[Doi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_xe_hangxe]    Script Date: 04/01/2024 12:36:34 CH ******/
CREATE NONCLUSTERED INDEX [idx_xe_hangxe] ON [dbo].[xe]
(
	[HangXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_xe_namsx]    Script Date: 04/01/2024 12:36:34 CH ******/
CREATE NONCLUSTERED INDEX [idx_xe_namsx] ON [dbo].[xe]
(
	[NamSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_xe_trangthai]    Script Date: 04/01/2024 12:36:34 CH ******/
CREATE NONCLUSTERED INDEX [idx_xe_trangthai] ON [dbo].[xe]
(
	[TrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[baohiemxe]  WITH CHECK ADD  CONSTRAINT [fk_baohiembienso] FOREIGN KEY([BienSo])
REFERENCES [dbo].[xe] ([BienSo])
GO
ALTER TABLE [dbo].[baohiemxe] CHECK CONSTRAINT [fk_baohiembienso]
GO
ALTER TABLE [dbo].[baohiemxe]  WITH CHECK ADD  CONSTRAINT [fk_baohiemxecty] FOREIGN KEY([MaCTY])
REFERENCES [dbo].[ctybaohiem] ([MaCTY])
GO
ALTER TABLE [dbo].[baohiemxe] CHECK CONSTRAINT [fk_baohiemxecty]
GO
ALTER TABLE [dbo].[baohiemxe]  WITH CHECK ADD  CONSTRAINT [fk_TrangThaiBaoHiem] FOREIGN KEY([TrangThai])
REFERENCES [dbo].[danhmuc] ([ID])
GO
ALTER TABLE [dbo].[baohiemxe] CHECK CONSTRAINT [fk_TrangThaiBaoHiem]
GO
ALTER TABLE [dbo].[ctybaohiem]  WITH CHECK ADD  CONSTRAINT [fk_ctybaohiem_trangthai] FOREIGN KEY([TrangThai])
REFERENCES [dbo].[danhmuc] ([ID])
GO
ALTER TABLE [dbo].[ctybaohiem] CHECK CONSTRAINT [fk_ctybaohiem_trangthai]
GO
ALTER TABLE [dbo].[ctydangkiem]  WITH CHECK ADD  CONSTRAINT [fk_ctydangkiem_trangthai] FOREIGN KEY([TrangThai])
REFERENCES [dbo].[danhmuc] ([ID])
GO
ALTER TABLE [dbo].[ctydangkiem] CHECK CONSTRAINT [fk_ctydangkiem_trangthai]
GO
ALTER TABLE [dbo].[dangkiemxe]  WITH CHECK ADD  CONSTRAINT [fk_dangkiembienso] FOREIGN KEY([BienSo])
REFERENCES [dbo].[xe] ([BienSo])
GO
ALTER TABLE [dbo].[dangkiemxe] CHECK CONSTRAINT [fk_dangkiembienso]
GO
ALTER TABLE [dbo].[dangkiemxe]  WITH CHECK ADD  CONSTRAINT [fk_dangkiemxecty] FOREIGN KEY([MaCTYDK])
REFERENCES [dbo].[ctydangkiem] ([MaCTYDK])
GO
ALTER TABLE [dbo].[dangkiemxe] CHECK CONSTRAINT [fk_dangkiemxecty]
GO
ALTER TABLE [dbo].[dangkiemxe]  WITH CHECK ADD  CONSTRAINT [fk_TrangThaiDangKiem] FOREIGN KEY([TrangThai])
REFERENCES [dbo].[danhmuc] ([ID])
GO
ALTER TABLE [dbo].[dangkiemxe] CHECK CONSTRAINT [fk_TrangThaiDangKiem]
GO
ALTER TABLE [dbo].[xe]  WITH CHECK ADD  CONSTRAINT [fk_xe_trangthai] FOREIGN KEY([TrangThai])
REFERENCES [dbo].[danhmuc] ([ID])
GO
ALTER TABLE [dbo].[xe] CHECK CONSTRAINT [fk_xe_trangthai]
GO
USE [master]
GO
