@page
@model Web.Pages.CTYBaoHiemModel
<h5>Quản lý công ty bảo hiểm</h5>
 @(
Html.DevExtreme().DataGrid<Web.Models.Ctybaohiem>()
.ID("gridContainer")
 .ColumnHidingEnabled(true)
.ShowBorders(true)
.Scrolling(scrolling => scrolling.RowRenderingMode(GridRowRenderingMode.Virtual))
.Selection(s => s.Mode(SelectionMode.Multiple))
.ShowColumnLines(true)
.ShowRowLines(true)
.RowAlternationEnabled(true)
.ShowBorders(true)
.Paging(paging => paging.PageSize(10))
.Pager(pager =>
{
    pager.Visible(true);
    pager.DisplayMode(GridPagerDisplayMode.Full);
    pager.ShowPageSizeSelector(true);
    pager.AllowedPageSizes(new JS("[5, 10, 'all']"));
    pager.ShowInfo(true);
    pager.ShowNavigationButtons(true);
})
.Editing(e => e.Mode(GridEditMode.Popup)
.AllowUpdating(true)
.AllowAdding(true)
.AllowDeleting(true)
.Popup(p => p
.Title("Thêm/Sửa công ty bảo hiểm  ")
.ShowTitle(true)

)
.Form(f => f.Items(items =>
{
    items.AddGroup()
    .ColCount(2)
    .ColSpan(2)
    .Items(groupItems =>
    {
        groupItems.AddSimpleFor(m => m.MaCty);
        groupItems.AddSimpleFor(m => m.TenCty);
        groupItems.AddSimpleFor(m => m.DiaChi);
        groupItems.AddSimpleFor(m => m.Email);
        groupItems.AddSimpleFor(m => m.Sdt);
        groupItems.AddSimpleFor(m => m.TrangThai);
    });
}))
)
.Columns(columns =>
{


    columns.AddFor(m => m.MaCty).Caption("Mã công ty");

    columns.AddFor(m => m.TenCty).Caption("Tên công ty");

    columns.AddFor(m => m.DiaChi).Caption("Địa chỉ");

    columns.AddFor(m => m.Sdt).Caption("Số điện thoại");

    columns.AddFor(m => m.Email).Caption("Email");

    columns.AddFor(m => m.TrangThai).Caption("Trạng thái")
    .Lookup(lookup => lookup
    .DataSource(d => d.Mvc().Controller("Danhmucs").LoadAction("Get").Key("Id"))
    .DataSourceOptions(d => d.Filter("[ ['MaLoai','=', 2] ]"))
    .DisplayExpr("TenDm")
    .ValueExpr("Id"));
})
.DataSource(ds => ds.Mvc()
.Controller("Ctybaohiems")
.LoadAction("Get")
.InsertAction("Post")
.UpdateAction("Put")
.DeleteAction("Delete")
.Key("MaCty"))
.SearchPanel(searchPanel => searchPanel
    .Visible(true)
    .Width(240)
    .Placeholder("Tìm kiếm...")
                           )
    .HeaderFilter(hf => hf.Visible(true))
    .Grouping(grouping => grouping.AutoExpandAll(true))
                            .GroupPanel(groupPanel => groupPanel.Visible(true))
.Pager(pager =>
{
    pager.Visible(true);
    pager.DisplayMode(GridPagerDisplayMode.Full);
    pager.ShowPageSizeSelector(true);
    pager.AllowedPageSizes(new JS("[5, 10, 'all']"));
    pager.ShowInfo(true);
    pager.ShowNavigationButtons(true);
})


.FilterRow(filterRow => filterRow
.Visible(true)
.ApplyFilter(GridApplyFilterMode.Auto)
)


.ColumnChooser(c => c.Enabled(true))


.ColumnFixing(c => c.Enabled(true))


.AllowColumnResizing(true)
.ColumnMinWidth(50)
.ColumnAutoWidth(true)

)
