@page
@using Web.Models

<h2>Trang chủ</h2>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img src="~/img/kia.jpg" alt="Hình ảnh 1">
            <div class="card-content">
                <h5>KIA SORENTO 2021</h5>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <img src="~/img/audi.jpg" alt="Hình ảnh 2">
            <div class="card-content">
                <h5>AUDI Q7 2022</h5>               
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <img src="~/img/toyota.jpg" alt="Hình ảnh 3">
            <div class="card-content">
                <h5>FORTUNER 2020</h5>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap CSS - Đảm bảo bạn đã thêm Bootstrap vào dự án của mình -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
